body {
    width: 100vw;
    height: 100vh;
    background-image: url("../C2.17_tictactoe/images/south-park-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.whole_game{
    height: 98vh;
    width: 88vw;
    position: absolute;
    left: 6%;
}
h1 {
    color:white;
    left:  29%;
    font-size:7vh;
    font-family:"Courier New", Courier, monospace;
    position: absolute;
}
/* choosing area*/
.choosing_box {
    height: 92%;
    width: 21%;
    position: absolute;
    top: 4%;
    left: 4%;
}
.chosen_size, .chosen_win {
    position: absolute;
    background:rgba(173, 216, 230, 0.7);
    color: black;
    font-size: 2.75vh;
    font-family: cursive;
    text-align: center;
    height: 20%;
}
.chosen_size{
    width: 50%;
}
.chosen_win {
    width: 49.5%;
    border-left: 1px solid white;
    right: 0;
}
ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
input[type=radio] {
    margin-right: 5px;
    height: 2vh;
}
.players {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 20%;
    font-size:4.0vmin;
    font-family: "Arial Black", Gadget, sans-serif;

}
.player1, .player2 {
    padding-right: 2%;
    height: 35%;
    width: 99.5%;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    background-repeat: no-repeat;
    background-color:darkred;
}
.player1 {
    background-image: url("../C2.17_tictactoe/images/grand-wizard.png");
    background-size: 70% 100%;
}
.player2{
    top: 35%;
    background-image: url("../C2.17_tictactoe/images/kyle_player.png");
    background-size: 80% 100%;
}
.current_player{
    background-color:green;
}
.nav_start-game, .nav_reset-game {
    height: 12%;
    width: 99.5%;
    position: absolute;
    text-align: center;
    background:rgba(173, 216, 230, 0.7);
}
.nav_start-game {
    top: 76%;
}
.nav_reset-game {
    top: 88%;
}
.start_game, .reset_game {
    height: 48%;
    width: 67%;
    position: absolute;
    background-color: red;
    font-size: 2.5vh;
    top: 29%;
    left: 16%;
    text-align: center;
    cursor:pointer;
    vertical-align: middle;
    /*font-family: cursive;*/
}
.start_game span, .reset_game span {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* game-area*/
.board_location {
    height: 82%;
    width: 67%;
    position: absolute;
    left: 29%;
    top: 14%;
    text-align: center;
}
/*this is for 3match game*/
.game_board_three,
.game_board_four,
.game_board_five {
    height: 95%;
    width: 75%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10%;
    top: 4%;
    font-size: 0;
    background: rgba(135, 206, 235, 0.5);
}
.game_board_three > .ttt_cell,
.game_board_four > .ttt_cell,
.game_board_five > .ttt_cell {
    border: 1px solid white;
    display: inline-block;
    box-sizing: border-box;
}

.game_board_three > .ttt_cell {
    width: 33.3333%;
    height: 33.3333%;
    padding-top:2vw;
}
/*this is for 4match game*/
.game_board_four > .ttt_cell{
    width: 25%;
    height: 25%;
    padding-top:0.5vw;
}
/*this is for 5match game*/
.game_board_five > .ttt_cell {
    width: 20%;
    height: 20%;
    padding-top:0.5vw;
}
.ttt_cell {
    font-size: 11vh;
    text-align: center;
    vertical-align: text-top;
    cursor:pointer;
}
#symbol{
    height: 70%;
    width: 70%;
}
